
{% block content %}
<div class="bg-white  p-4 w-full rounded ">
  <h2 class="text-2xl font-semibold">Over View</h2>
 
  <!--First Element-->

  <!--Elements-->
<div class="flex flex-col md:flex-row gap-4" >
  <!--First Element-->
  <div class="flex flex-row gap-4 mt-4 p-2 ml-4 items-center ring-2 ring-slate-400 rounded  w-55">
    <!--Icon-->
    <span class="bg-[#59e9a1] p-3 ring-2 ring-slate-400 rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-earth-lock-icon lucide-earth-lock"><path d="M7 3.34V5a3 3 0 0 0 3 3"/><path d="M11 21.95V18a2 2 0 0 0-2-2 2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05"/><path d="M21.54 15H17a2 2 0 0 0-2 2v4.54"/><path d="M12 2a10 10 0 1 0 9.54 13"/><path d="M20 6V4a2 2 0 1 0-4 0v2"/><rect width="8" height="5" x="14" y="6" rx="1"/></svg></span>
    <!--Text-->
    <div class="flex flex-col   ">
        <h2 class="text-3xl font-bold text-slate-800">{{ total_products }}</h2>
        <h1 class=" text-xl font-medium text-slate-600">Total Products</h1>
    </div>
  </div>
  <!--First Element-->
  <div class="flex flex-row gap-4 mt-4 p-2 ml-4 items-center ring-2 ring-slate-400 rounded  w-55">
    <!--Icon-->
    <span class="bg-[#59e9a1] p-3 ring-2 ring-slate-400 rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-check-icon lucide-package-check"><path d="m16 16 2 2 4-4"/><path d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14"/><path d="m7.5 4.27 9 5.15"/><polyline points="3.29 7 12 12 20.71 7"/><line x1="12" x2="12" y1="22" y2="12"/></svg> </span>
    <!--Text-->
    <div class="flex flex-col   ">
        <h2 class="text-3xl font-bold text-slate-800">{{ total_orders}}</h2>
        <h1 class=" text-xl font-medium text-slate-600">Orders</h1>
    </div>
  </div>
  <!--First Element-->
  <div class="flex flex-row gap-4 mt-4 p-2 ml-4 items-center ring-2 ring-slate-400 rounded  w-55">
    <!--Icon-->
    <span class="bg-[#59e9a1] p-3 ring-2 ring-slate-400 rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trending-up-down-icon lucide-trending-up-down"><path d="M14.828 14.828 21 21"/><path d="M21 16v5h-5"/><path d="m21 3-9 9-4-4-6 6"/><path d="M21 8V3h-5"/></svg></span>
    <!--Text-->
    <div class="flex flex-col   ">
        <h2 class="text-3xl font-bold text-slate-800">{{ total_stocks}}</h2>
        <h1 class="text-xl font-medium text-slate-600">Total Stokes</h1>
    </div>
  </div>
    <div class="flex flex-row gap-4 mt-4 p-2 ml-4 items-center ring-2 ring-red-300 rounded  w-55">
    <!--Icon-->
    <span class="bg-[#ee8359] p-3 ring-2 ring-red-300 rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-open-icon lucide-package-open"><path d="M12 22v-9"/><path d="M15.17 2.21a1.67 1.67 0 0 1 1.63 0L21 4.57a1.93 1.93 0 0 1 0 3.36L8.82 14.79a1.655 1.655 0 0 1-1.64 0L3 12.43a1.93 1.93 0 0 1 0-3.36z"/><path d="M20 13v3.87a2.06 2.06 0 0 1-1.11 1.83l-6 3.08a1.93 1.93 0 0 1-1.78 0l-6-3.08A2.06 2.06 0 0 1 4 16.87V13"/><path d="M21 12.43a1.93 1.93 0 0 0 0-3.36L8.83 2.2a1.64 1.64 0 0 0-1.63 0L3 4.57a1.93 1.93 0 0 0 0 3.36l12.18 6.86a1.636 1.636 0 0 0 1.63 0z"/></svg></span>
    <!--Text-->
    <div class="flex flex-col   ">
        <h2 class="text-3xl font-bold text-slate-800">{{ out_of_stock }}</h2>
        <h1 class=" text-xl font-medium text-slate-600">Out of Stock</h1>
    </div>
  </div>
</div>
</div>
{% endblock %}