{% load static %}

<!-- Ionicons CDN -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<nav class="hidden bg-orange-600 py-10 px-4 md:px-2 lg:px-16 xl:px-32 2xl:px-64 text-white">
  <div class="flex flex-wrap justify-between gap-6 w-full">

    <!-- Card -->
    <div class="flex-1 min-w-[220px] max-w-[280px] bg-white text-gray-800 hover:bg-red-800 hover:text-white rounded-xl flex flex-col items-center p-6 border border-gray-200 transform transition duration-300 hover:scale-105 hover:-translate-y-1 shadow">
      <h3 class="font-semibold text-lg">Cybersecurity</h3>
    </div>

    <!-- Card -->
    <div class="flex-1 min-w-[220px] max-w-[280px] bg-white text-gray-800 hover:bg-red-800 hover:text-white rounded-xl flex flex-col items-center p-6 border border-gray-200 transform transition duration-300 hover:scale-105 hover:-translate-y-1 shadow">
      <h3 class="font-semibold text-lg">Cloud Migration</h3>
    </div>

    <!-- Card -->
    <div class="flex-1 min-w-[220px] max-w-[280px] bg-white text-gray-800 hover:bg-red-800 hover:text-white rounded-xl flex flex-col items-center p-6 border border-gray-200 transform transition duration-300 hover:scale-105 hover:-translate-y-1 shadow">
      <h3 class="font-semibold text-lg">Data Analytics</h3>
    </div>

    <!-- Card -->
    <div class="flex-1 min-w-[220px] max-w-[280px] bg-white text-gray-800 hover:bg-red-800 hover:text-white rounded-xl flex flex-col items-center p-6 border border-gray-200 transform transition duration-300 hover:scale-105 hover:-translate-y-1 shadow">
      <h3 class="font-semibold text-lg">Digital Workspaces</h3>
    </div>

  </div>
</nav>
